@font-face {
  font-family: '#{$heading-font-family}';
  src: url('/fonts/#{$heading-font-family}.eot?2cvp3w');
  src: url('/fonts/#{$heading-font-family}.eot?2cvp3w#iefix') format('embedded-opentype'),
  url('/fonts/#{$heading-font-family}.ttf?2cvp3w') format('truetype'),
  url('/fonts/#{$heading-font-family}.woff?2cvp3w') format('woff'),
  url('/fonts/#{$heading-font-family}.svg?2cvp3w##{$heading-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
}

main,
section,
article {
  margin: 0 auto;
  width: 100%;
  max-width: 100%;
}

@media (max-width: 575px) {
  main {
    padding: $spacing-x-small;
  }
}

@media (min-width: 576px) {
  main {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  main {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  main {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  main {
    max-width: 1140px;
  }
}

.elevation-1 {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.elevation-2 {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.elevation-3 {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
