/**
 * Text Color
 */
$primaryTextColor: rgba(38, 50, 56, 1);
$secondaryTextColor: rgba(38, 50, 56, 0.8);
$disabled: rgba(207, 216, 220, 1);
$white: rgba(256, 256, 256, 1);

/**
 * Theme Colors
 */
$primaryColor: rgba(66, 170, 199, 1);
$accentColor: rgba(246, 166, 35, 1);
